<h1>
  rooms/index
</h1>

<a href="/rooms/new" class="center-block btn-submit text-center" style="width: 200px;">
  New game
</a>


<style>
  li.active {
      color: red;
  }
  li.already_start {
      color: grey;
  }
</style>


<ul>
  <%-@rooms.each do |room| %>
    <li class="<%=room.second_user_id ? 'already_start' : 'active' %>">
      <!-- <li class="<%= 'active' if room.second_user_id %>"> -->

      <a href="<%= room.link_empty_game%>" >
        <%=room.first_user.user_name%> - <%= room.id%>
      </a>
    </li>
  <%end%>
</ul>




