


<h1>Hello,  <%= current_user.user_name %> </h1><br>

 It's you'r personal area <br>
   You can see Info about You


<ul class="list-group" >
  <li class="list-group-item"><h4><strong> User ID: </strong> <%= current_user.id %></h4></li>
  <!--<li class="list-group-item"></li>-->
  <li class="list-group-item"><h4><strong> User Name: </strong> <%= current_user.user_name %></h4></li>
  <!--<li class="list-group-item"></li>-->
  <li class="list-group-item"><h4><strong> Wins: </strong> <%= current_user.wins %></h4></li>
  <!--<li class="list-group-item"></li>-->
  <!--<li class="list-group-item"><h4><strong> Loss: </strong> <%= current_user.loss %></h4></li>-->
  <!--<li class="list-group-item"></li>-->
  <li class="list-group-item"><h4><strong> MMR: </strong> <%= current_user.mmr %></h4></li>
  <!--<li class="list-group-item"></li>-->


</ul>







